<html>
  <head>    
  <title>weForth v4.2</title>
  <style>
    h2    { color: #c44; margin: 0; }
    h3    { color: #fc4; margin: 0; }
    .base { display:flex; font-size:18px; font-family:monospace; width:100%; height:100%; }
    .side { display:flex; flex-direction:column; width:220px; height:100%; }
    .tic  { width:100%; text-align:center; background-color:#eee; margin:2px; padding: 5px 0 5px 0; }
    .tac  { text-align:right; color:#484; margin:4px; padding-right:6px; }
    .edt  { height:100%; display:flex; flex-direction:row; }
    .txt  { height:100%; margin:4px; display:flex; flex-direction:column; overflow-x:scroll; display:block }
    .sep  { width:3px; height:100%; border:0px; cursor:col-resize; }
    .cmd  { color:#48f; margin: 2px; }
    .CodeMirror { width:100%; border:1px solid #444; height:auto; font-size: 0.8em; }
  </style>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css'></link>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js'></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/forth/forth.min.js'></script>
  </head>
  <body>
    <div class='base'>
      <div class='side'>
        <pre class='tic'>Data Stack</pre>
        <pre id='ss' class='tac'></pre>
        <pre class='tic'>User Dict</pre>
        <pre id='dc' class='tac'></pre>
      </div>
      <div class='edt' style='width:85%'>
        <pre id='txt' class='txt' style='width:60%'></pre>
        <div id='sep' class='sep'></div>
        <div id='edt' class='txt' style='width:40%'>
          <div style='display:flex; width=100%'>
            <input id='tib' style='width:100%; font-size:1.0em' value=''
               onkeydown='if (13===event.keyCode) forth_eval()'/>
          </div>
          <textarea id='cm'>
\ 1. find tests/lesson410.txt, drag & drop it into this area
\ 2. high-light each example using arrow-keys with SHIFT-key down
\ 3. hit Ctrl-C to cut & paste into input line above
\ 4. hit RETURN to execute</textarea>
        </div>
      </div>
    </div>
    <script>
    let tib = document.getElementById('tib')
    let txt = document.getElementById('txt')
    let edt = document.getElementById('edt')
    ///
    /// CodeMirror handlers
    ///
    let cm  = CodeMirror.fromTextArea(document.getElementById('cm'), {
        lineNumbers: true,
        styleActiveLine: true,
        mode: 'forth',
    })
    cm.setSize("100%","100%")
    cm.on('copy', (doc)=>{
        let cmd=doc.getSelection()
        tib.value = cmd.replace(/[\t|\n]/g,' ')
        tib.style.backgroundColor = '#fe0'
        document.activeElement.blur()
        tib.focus()
    })
    // dragger section
    function drag(p0, sep, p1) {
        sep.onmousedown = (e)=>{
            // console.log("mouse down: " + e.clientX);
            let m = { mx:e.clientX, my:e.clientY, x:e.offsetLeft, y:e.offsetTop, w0:p0.offsetWidth, w1:p1.offsetWidth }
            document.onmousemove = (e)=>{
                // console.log("mouse move: " + e.clientX);
                let d = { x:e.clientX - m.mx, y:e.clientY - m.my }
                d.x = Math.min(Math.max(d.x, -m.w0), m.w1)  // no negative offset

                sep.style.left = m.offsetLeft + d.x + "px"
                p0.style.width = (m.w0 + d.x) + "px"
                p1.style.width = (m.w1 - d.x) + "px"
            }
            document.onmouseup = ()=>{
                // console.log("mouse up");
                document.onmousemove = document.onmouseup = null;
            }
        }
    }
    drag(txt, document.getElementById("sep"), edt)
    ///
    /// Sidebar handler functions
    ///
    function show_ss() {
        const wa  = wasmExports
        const base= wa.vm_base()
        const toa = (p, n)=>wa.vm_dflt()
            ? new Float32Array(wa.memory.buffer, p, n)
            : (base==10
               ? new Int32Array(wa.memory.buffer, p, n)
               : new Uint32Array(wa.memory.buffer, p, n))
        const len = wa.vm_ss_idx()>0 ? wa.vm_ss_idx() : 0
        const ss  = toa(wa.vm_ss(), len)
        const top = toa(wa.top, 1)
        const tos = v => Number.isInteger(v) ? v.toString(base) : Math.round(v*100000)/100000
        
        let   div = document.getElementById('ss')
        div.innerHTML = tos(top[0]) + '<br/>'
        for (let i = len - 1; i >= 0; --i) {
            div.innerHTML += tos(ss[i]) + '<br/>'
        }
    }
    function show_dict() {
        let wa  = wasmExports         
        let len = wa.vm_dict_idx()
        let dict= Module.cwrap('vm_dict', 'string', ['number'])
        let div = document.getElementById('dc')
        div.innerHTML = ''
        for (var i = len - 1; i >= 0; --i) {
            if (dict(i)=='boot') break          /// * only colon words
            div.innerHTML += dict(i) + '<br/>'
        }
    }
    ///
    /// Forth console
    ///
    function to_txt(t, br=true) {
        txt.innerHTML += br ? t + '<br/>' : t
        txt.scrollTop = txt.scrollHeight
    }
    ///
    /// WASM ==========================================================
    ///      
    var Module = { print: to_txt }  ///< WASM global object
    const ex = (ops)=>Function(      ///< scope limiting eval
        `"use strict"; this.eval(${ops})`
    ).bind(this)()
    this.onmessage = e=>{
        console.log(e.data)
        if (e.data[0]=='js') ex(e.data[1][1])
    }
    ///
    /// Forth outer interpreter
    ///
    function forth_eval() {
        const xtib = ()=>{
            tib.value=''; tib.focus();
            tib.style.backgroundColor='white'
        }
        let cmd=tib.value.replace(/:/g,'<br/>:')
        if (cmd=='clear') { txt.innerHTML=''; xtib(); return }
        if (cmd.indexOf('<br/>')==0) cmd.replace('<br/>','')
        
        to_txt('<pre class="cmd"><em>'+cmd+'</em></pre>', false)
        
        try {
            var forth = Module.cwrap('forth', 'int', ['number', 'string'])
            while (forth(0, tib.value));    /// * call Forth in C/C++
            show_ss()
            show_dict()
        }
        catch(e) { console.log(e.toString()+'\n') }
        finally  { xtib(); }                /// * clear input buffer
    }
    </script>
    {{{ SCRIPT }}}
  </body>
</html>
